@import url(https://allfont.net/allfont.css?fonts=agency-fb);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Agency FB", arial;
  /* outline: solid 1px red; */
}

:root {
  --gradient: linear-gradient(180deg, #292929 19.27%, #134681 100%);
  --text: #f0ffff;
  --boxBorder: #315781;
  --boxShadow: #17559b;
  --bgBox: #2e81e01a;
  --boxText: #96bfee;
  --boxTextShadow: #96bfee80;
  --hoverQA: #1e6dc8;
  --buttonBg: #353535;
  --buttonBorderHover: #2e81e0;
  --innerBallGlow: #2e81e0;
  --insetShadow: #5a95d859;
  --insetShadowLight: #2e81e0e6;
  --bgRadial: radial-gradient(
    96.45% 74.31% at 50% 25.69%,
    #111f2c46 47.4%,
    #30597ea6 100%
  );
  --floorShadow: #0f0f0f;
}


.redTheme {
  --gradient: linear-gradient(180deg, #292929 19.27%, #811313 100%);
  --text: #f0ffff;
  --boxBorder: #813131;
  --boxShadow: #9b1717;
  --bgBox: #e02e2e1a;
  --boxText: #ee9696;
  --boxTextShadow: #ee969680;
  --hoverQA: #c81e1e;
  --buttonBg: #353535;
  --buttonBorderHover: #e02e2e;
  --innerBallGlow: #e02e2e;
  --insetShadow: #d85a5a59;
  --insetShadowLight: #e02e2ee6;
  --bgRadial: radial-gradient(
    96.45% 74.31% at 50% 25.69%,
    #111f2c46 47.4%,
    #7e3030a6 100%
  );
  --floorShadow: #0f0f0f;
}


.backGradient {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  text-align: center;
  background-image: var(--gradient);
  background-size: cover;
  /* transition: .8s ease-in; */

  /* overflow:hidden ; */
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#title {
  color: var(--text);
  font-size: 4rem;
  letter-spacing: 0.2em;
}

#letterCircle {
  display: inline-flex;
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  background: transparent;
  border: 3px solid var(--text);
  color: var(--text);
  align-items: center;
  justify-content: center;
  letter-spacing: -1px;
}

#buttons {
  display: flex;
  justify-content: center;
  padding: 2em;
}

#questionArea, #questionAreaTwo {
  height: 6.375rem;
  width: 25rem;
  margin: auto;
  border: 2px solid var(--boxBorder);
  box-shadow: 0px 0px 25px 0.5px var(--boxShadow);
  border-radius: 8px;
  background-color: var(--bgBox);
  margin-top: 2rem;
  font-family: "Agency FB", arial;
  text-align: center;
  color: var(--boxText);
  font-size: 1.5rem;
  text-shadow: 0px 4px 15px var(--boxTextShadow);
  cursor: pointer;
}

#questionArea:hover {
  box-shadow: 0px 0px 45px 0.5px var(--hoverQA);
  transition: .7s;
}

#questionAreaTwo:hover {
  box-shadow: 0px 0px 45px 0.5px var(--hoverQA);
  transition: .7s;


}

::placeholder {
  color: var(--boxText);
  font-size: 1.5rem;
  text-shadow: 0px 4px 15px var(--boxTextShadow);
}



button {
  height: 3.125rem;
  width: 6.25rem;
  border-radius: 35px;
  margin: 0rem 3rem;
  background-color: var(--buttonBg);
  font-family: "Agency Fb", monospace;
  border: 2px solid var(--buttonBorderHover);
  color: var(--text);
  font-size: 1.5rem;
  position: relative;
  z-index: 3;
}

button:hover {
  background-color: var(--buttonBorderHover);
  box-shadow: 0px 0px 25px 0.5px var(--boxShadow);
  color: #292929;
  cursor: pointer;
  transition: .5s;
}

@keyframes float {
	0% {
    box-shadow: inset 0px 20px 25px 5px var(--insetShadow),
    0px -10px 35px 1px var(--insetShadowLight);
		transform: translatey(0px);
	}
	50% {
    box-shadow: inset 0px 20px 25px 12px var(--insetShadow),
    0px -10px 35px 20px var(--insetShadowLight);

		transform: translatey(-15px);
	}
	100% {
    box-shadow: inset 0px 20px 25px 5px var(--insetShadow),
    0px -10px 35px 1px var(--insetShadowLight);
		transform: translatey(0px);
	}
}

#eightBall {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25rem;
  width: 25rem;
  background-color: #292929;
  border-radius: 100%;
  animation: float 6s ease-in-out infinite;

}

#innerBall {
  position: absolute;
  display: grid;
  /* align-items: center;
  justify-content: center; */
  place-content: center;
  height: 13rem;
  width: 13rem;
  background: var(--bgRadial);
  box-shadow: 0px 5px 8px 3px var(--innerBallGlow), inset 0px 4px 8px #00000080;
  border-radius: 100%;
}

#innerBallTwo {
  display: grid;
  place-items: center;
  text-align: center;
  height: 13rem;
  width: 13rem;
  padding-top: 2.8em;

}
  
#answer {
  color: var(--boxText);
  text-shadow: 0px 0px 15px var(--buttonBorderHover);
  font-size: 2rem;
  padding: 0.7rem;
}

#answerTwo {
  position: relative;
  z-index: 100;
  color:var(--boxText);
  text-shadow: 0px 0px 15px var(--buttonBorderHover);
  font-size: 1.4rem;
  padding: 0.7em;
  line-height: 1.5rem;

}

@keyframes shrink {
  0% {
    width: 60%;
    margin: 0 5%;
  }
  50% {
    width: 30%;
    margin: 0 18%;
  }
  100% {
    width: 60%;
    margin: 0 5%;
  }
}

#shadow {
  position: relative;
  z-index: 1;
  width: 280px;
  height: 18px;
  background: var(--floorShadow);
  box-shadow: 0px 0px 5px var(--floorShadow);
  filter: blur(18px);
  border-radius: 50%;
  margin-top: 2rem;
  animation: shrink 6s ease-out infinite;
}
